---
import Layout from '../components/Layout.astro';
import Sidebar from '../components/Sidebar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import Workflow from '../components/Workflow.astro';
import About from '../components/About.astro';
import Footer from '../components/Footer.astro';
---

<Layout>
  <Sidebar />

  <main class="main-content">
    <Hero />
    <Features />
    <About />
    <Workflow />
    <Footer />
  </main>
</Layout>
