---
import '../styles/global.css';

export interface Props {
  title?: string;
  description?: string;
}

const {
  title = "Tailored Websites for Growing Businesses | That's it Marketing",
  description = "Discover how That's it Marketing helps businesses grow with personalized website configurations, conversion‑driven landing pages, structured funnels and full web solutions. Join our satisfied clients and start your project today!"
} = Astro.props;
---

<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="description" content={description} />
<<<<<<< HEAD
=======
    <link rel="icon" type="image/png" href="/images/logo_white.png" />
    <link rel="apple-touch-icon" href="/images/logo_white.png" />
>>>>>>> d515ed93a91aff3b661ce3be4900e886ae7376e8
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <slot />
    <script is:inline src="/scripts/navigation.js"></script>
  </body>
</html>
